<!DOCTYPE html>
<head>
    <title>The Family Blog</title>
    <link rel="stylesheet" href="/css/landing.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Poppins" rel="stylesheet">
</head>
<body>
    <h1>The Family Blog</h1>
</body>