body {
    background-image: url("/img/landing.jpg");
    /*background-size: cover;*/
    background-size: cover;
    color: white;
    font-family: 'Cabin', sans-serif;
}
body {
    margin-top: 10%;
    margin-right: 10%;
}
h1 {
    width: 90px;
    font-size: 90px;
    text-shadow: 4px 4px #000000;
}
input, small {
    display: block;
    position: relative;
}
label, small {
    font-size: 1.5em;
    text-shadow: 3px 2px #000000;
    color: white !important;
}
#login {
    padding: 0px 25px 10px 25px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    width: 500px;
}
input[type="text"], input[type="password"] {
    font-size: 22px;
}
